@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to PokeData!</h1>

<AuthorizeView>
    <Authorized>
        Click the links to <a href="sims">view simulated customer data</a> or <a href="sims/create">create a new simulated customer</a>.
    </Authorized>
    <NotAuthorized>
        <p>You can log in to access more features.</p>
    </NotAuthorized>
</AuthorizeView>